.container{
    width: 900px;
    height: 300px;
    display: flex;
    border: 1px solid black;
    margin: 40px;
    padding: 2px;
    justify-content: center;
}
.box{
    width: 100px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.container2{
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
.container3{
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: space-evenly;
}
.container4{
    justify-content: space-between;
}
.container5{
    justify-content: flex-start;
}
.container6{
    justify-content: flex-end;
    /* justify-content: stretch; */
}